

.navbar{
  margin-bottom: 5px;
  
}

#about-me{
  margin: 0 auto;
  max-width: 720px;
  text-align: left;
}
 
.card {
 display:flex;
 margin-top: 40px;
 font-size: 20px;

}

.card-body{
  width: 300px;
margin: 0 auto; 
position: static;
}
#profile-pic{
   width: 150px;
  float: left;
   margin-left: 0;
   height: 45%;
   margin: 10px;

}
img {
  border: solid;
  padding:2px;
  width: 300px;

 }



.p {
  font-size: 30px;
  text-align: left;
  position: absolute; 
  text-emphasis-style: bold ;
  color: black;
  
}

.portfolio {

height: 1060px;
margin-top: 150px;
margin-left: 200px;
margin-right: 120px;
padding-top: 20px;
text-align: center;
align-content: center;
}

.portfolio-image {
position: static;
padding: 10px;
max-width: 300px;

}

.thumbnail{
border: solid;
padding: 2px;
border-color: black;
}

.card {
margin:  65px;
}

.card-title{
color:black;
}
.card-text{
color: black;
}
.card-body{
vertical-align:inherit;


}
h1{
text-align: center;
}
h2 {
font-size: 18px;
font-display: left;

}
h4{
text-align: center;
}

a{
color:black;
}
i{
color:black;
}

#footer{
padding: 20px;
margin: 0 auto;
max-width: 725px;
max-height: 120px;
}

#submit{
margin-left: 675px;
}